
head
	meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=0")

	script
		:coffee-script
			port = 777
			url  = "http://localhost:#{port}/livereload.js"
			window.document.write('<script type="text/javascript" src="' + url + '"></scr' + 'ipt>')
			console.debug "[LiveReload] #{url}"

	script(type="text/javascript", src="http://code.jquery.com/jquery-1.12.0.min.js")


	script(type="text/javascript", src="js/jquery.tinyscrollbar.min.js")
	script(type="text/javascript", src="js/jquery.maskedinput.min.js")

	<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
	<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

	link(rel="stylesheet", type="text/css", href="css/normalize.css")

	script(type="text/javascript", src="js/form.js")
	link(rel="stylesheet", type="text/css", href="css/form.css")

	script(type="text/javascript", src="js/script.js")

body

	.form

		.field
			.label Это поле не участвует в форме
			input(name='id' type='text')
			.error.error-id

		.field
			.label Это поле не участвует в обработке
			input(name='test' type='text')
			.error.error-test

		.field
			.label login
			input(name='login' type='text')
			.error.error-login

		.field
			.label password
			input(type='text', name='password')
			.error.error-password

		.field
			.label password confirmation
			input(type='text', name='password-confirmation')
			.error.error-password-confirmation

		.field
			.label phone
			input(type='text', name='phone')
			.error.error-phone

		.field
			.label date
			input(type='text', name='date')
			.error.error-date

		.field
			.label email
			input(type='text', name='email')
			.error.error-email

		.field
			.label text
			textarea(name='text')
			.error.error-text

		.field
			.label checkbox 1
			.field-group
				span 1
				input(type="checkbox", name="checkbox_1", value="1", checked=true)
			.error.error-checkbox_1

		.field
			.label checkbox 2
			.field-group
				span 2
				input(type="checkbox", name="checkbox_2", value="2")
			.error.error-checkbox_2

		.field
			.label radio
			.field-group
				input(type="radio", name="radiobutton", value="1", checked=true)
				span 1		
			.field-group
				input(type="radio", name="radiobutton", value="2")
				span 2
			.error.error-radiobutton

		.field
			.label dropdown
			select(name="dropdown")
				option(selected=true) Выбрать
				option(value="1") 1
				option(value="2") 2
				option(value="3") 3
				option(value="4") 4
				option(value="5") 5
				option(value="6") 6
			.error.error-dropdown


		.field.example(style="display:none;")
			.label <span class="name">dropdown 2</span> (<span class='remove' style='cursor:pointer;'>удалить поле</span>)
			select
				option(selected=true) Выбрать
				option(value="1") 1
				option(value="2") 2
				option(value="3") 3
				option(value="4") 4
				option(value="5") 5
				option(value="6") 6
			.error.error-dropdown-2

		.field.error-list
			.errors


		.field
			.add-field
				a(href="#" onclick="addfield();return false") Добавить поле
			.reset
				a(href="#" onclick="reset();return false") Сбросить
			.submit
				a(href="#"): span Отправить
			.preloader
				div
				div
				div


