
head
	meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=0")
	
	script
		:coffee-script
			port = 777
			url  = "http://localhost:#{port}/livereload.js"
			window.document.write('<script type="text/javascript" src="' + url + '"></scr' + 'ipt>')
			console.debug "[LiveReload] #{url}"

	script(type="text/javascript", src="http://code.jquery.com/jquery-1.12.0.min.js")
	script(type="text/javascript", src="js/jquery.tinyscrollbar.min.js")
	link(rel="stylesheet", type="text/css", href="css/normalize.css")

	script(type="text/javascript", src="js/form.js")
	link(rel="stylesheet", type="text/css", href="css/form.css")

	script
		:coffee-script
			$ ->


				scroll = (el) ->

					$select = el
					$selected = $select.find('[data-selected]')
					$options 	= $select.find('[data-options]')

					if !$select.find('.scrollbar').size()
						$options.wrapInner """
							<div class="viewport"><div class="overview"></div></div>
						"""
						$options.prepend """
							<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
						"""

					browserMobile = false

					scrollbar = $options.tinyscrollbar({sizethumb: 40,wheel: (if browserMobile then 2 else 40),invertscroll:browserMobile})
					$selected.click -> scrollbar.tinyscrollbar_update()
					scrollbar.tinyscrollbar_update()

					return

				window.forms = {}

				fields = 


					'email':
						rules:
							email: true

					'day':
						placeholder: 'Выбрать'
						fieldGroup: 'birthday'
						errorGroup: 'birthday'
						rules:
							required:
								not: 'Выбрать'

					'month':
						placeholder: 'Выбрать'
						fieldGroup: 'birthday'
						errorGroup: 'birthday'
						rules:
							required:
								not: 'Выбрать'

					'year':
						placeholder: 'Выбрать'
						fieldGroup: 'birthday'
						errorGroup: 'birthday'
						rules:
							required:
								not: 'Выбрать'

					'password':
						errorGroup: 'password-group'
						validateOnKeyup: true
						rules:
							strict:
								exp:
									range: [8]
									numeric: [1]
									engLowercase: [1]
									engUppercase: [1]
								reason: 'Пароль должен содержать цифры, прописные и строчные буквы латиницы, не менее 8 символов'


					'password-confirmation':
						errorGroup: 'password-group'
						validateOnKeyup: true
						rules:
							compare:
								field: 'password'

				window.forms['registration'] = new Form

					formName: 'registration'
					formEl: '.form'
					submitEl: '.submit a'
					fields: fields
					noSubmitEmpty: false
					fieldsOptions:
						rules:
							required: false

					onInit: ->

						self = @

						self.form.on 'Style', '[data-field][data-type="select"]', (e,field) ->
							scroll(field.sel)
							return

						self.form.on 'Change', '[data-field]', (e,field) ->
							console.log 'change', field
							return

					onSubmit: (data) ->

						self = @

						self.form.find('.errors').empty()

					onSuccess: (data) ->

						self = @

						@submit(false)
						@preloader(true)

						# API.success ->
						# self.submit(true)
						# self.preloader(false)

					onFail: (errors) ->

						self = @

						self.form.find('.errors').html "Исправьте ошибки в форме"

					onReset: ->

						@submit(false)
						@preloader(false)

				return

body

	.form

		.field
			.label Имя
			input(type='text', name='firstname')
			.error.error-firstname

		.field
			.label Фамилия
			input(type='text', name='lastname')
			.error.error-lastname

		.field.birthday
			.label Дата рождения
			.field-group
				select(name='day')
					option(selected=true) Выбрать
					- for (var i = 1; i <= 31; ++i) {
					option(value="#{(i < 10) ? '0' + i : i}") #{i}
					- }

			.field-group
				select(name='month')
					option(selected=true) Выбрать
					- months = [ "Январь","Февраль","Март","Апрель","Май","Июнь","Июль","Август","Сентябрь","Октябрь","Ноябрь","Декабрь" ]
					- for (var i = 1; i <= months.length; ++i) {
					option(value="#{(i < 10) ? '0' + i : i}") #{months[i-1]}
					- }

			.field-group
				select(name='year')
					option(selected=true) Выбрать
					- for (var i = 1905; i < 2017; ++i) {
					option(value="#{i}") #{i}
					- }

			.error.error-birthday

		.field
			.label Email
			input(type='text', name='email')
			.error.error-email

		.field

			.field-group
				.label Пароль
				input(type='password', name='password')
				//- .error.error-password

			.field-group
				.label Повторение пароля
				input(type='password', name='password-confirmation')
				//- .error.error-password-confirmation

			.error.error-password-group


		.field
			.field-group
				input(type="checkbox", name="agree", value="1", checked=true)
				p Я согласен
			.error.error-agree

		.field
			.errors


		.field
			.submit
				a(href="#"): span Отправить
			.preloader
				div
				div
				div


