
head
	meta(name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=0")
	
	script
		:coffee-script
			port = 777
			url  = "http://localhost:#{port}/livereload.js"
			window.document.write('<script type="text/javascript" src="' + url + '"></scr' + 'ipt>')
			console.debug "[LiveReload] #{url}"

	script(type="text/javascript", src="http://code.jquery.com/jquery-1.12.0.min.js")

	link(rel="stylesheet", type="text/css", href="css/normalize.css")

	script(type="text/javascript", src="js/form.js")
	link(rel="stylesheet", type="text/css", href="css/form.css")

	script
		:coffee-script
			$ ->

				window.forms = {}

				fields = 

					'required':
						attrs:
							maxlength: 10
						rules:
							required: true

					'only':
						rules:
							only:
								exp:
									range: [2,10]
									alpha: [1]
									numeric: [0,1]


					'strict':
						rules:
							strict:
								exp:
									range: [10,20]
									numeric: [1]
									engLowercase: [1]
									engUppercase: [1]

					'not':
						rules: not: ['test']

					'numeric':
						rules:
							numeric: true

					'alpha':
						rules: alpha: true

					'eng':
						rules: eng: true

					'rus':
						rules: rus: true

					'max':
						rules: max: 3

					'min':
						rules: min: 3

					'email':
						rules: email: true

					'url':
						rules: url: true

					'compare':
						rules: compare: field: 'url'


				for name of fields

					$('.form .fields').append """

						<div class='field'>
							<div class='label'>#{name}</div>
							<input type='text' name='#{name}'>
							<div class='error error-#{name}'></div>
						</div>

					"""





				window.forms['test'] = new Form

					logs: true

					formName: 'test'
					formEl: '.form'
					submitEl: '.submit a'
					autoFields: true
					fields: fields
					fieldsOptions:
						autoErrors: 'all'


				return




body

	.form
		.field
			.fields
			.submit
				a(href="#"): span Отправить
			.preloader
				div
				div
				div


